asgiref==3.11.1
Django==6.0.2
django-phonenumber-field==8.4.0
djangorestframework==3.17.1
phonenumbers==9.0.26
pillow==12.1.1
python-dotenv==1.2.2
sqlparse==0.5.5
psycopg2-binary>=2.9.9
drf-spectacular
coverage
celery==5.4.0
redis==5.0.3
djangorestframework-simplejwt
gunicorn==21.2.0